#link{
    display: flex;
    gap: 10%;
    padding:20px;
}
#iconsbar{
    display: flex;
    gap: 20%;
    padding: 20px;
}
.icon{
    width: 20px;
    height: 20px;
}
#navbar{
    display: flex;
    gap: 39%;
}
.text{
    font-size: 50px;
}
#section{
    display: flex;
    gap: 15%;
    padding:50px;
    margin-left: 40px;
}
.image{
    height:200px;
    width: 400px;

}
#section1{
    display: flex;
    gap: 25%;
}
#insidediv{
    height:200px;
    width: 400px;
    text-align: center;
}
#div{
    display: flex;
    gap: 10%;
    padding: 40px;
}
#div1{
    display:flex;
    gap: 30%;
    margin: 10%;
    padding: 10px;
}
.image2{
    height: 600px;
    width: 400px;
}
#div2{
    display: flex;
    gap: 2%;
    padding: 15px;
}
.button1{
    background-color: rgb(23, 124, 124);
    color: white;
    position: absolute;
    width: 60px;
    padding: 9px;
}
.image3{
    height: 400px;
    width: 500px;
}
#div3{
    height: 400px;
    width: 200px;
    text-align: center;
}
#div4{
    display: flex;
}
#div5{
    display: flex;
    gap :20%;
    padding-top: 50px;

}
.image4{
    width: 500px;
    height: 600px;
}
#image5{
    width: 700px;
}
#section2{
    display: flex;
    gap: 30%;
    padding: 100px;

}
#div6{
    display:flex;
    gap: 10%;
}
#div7{
    text-align: center;
}
.image5{
    width: 350px;
    height: 500px;
}
#last{
    display: flex;
}
#section3{
    padding-top: 50px;
}
#footericons{
    display: flex;
    gap:3%;
}
#section4{
    display: flex;
    gap: 15%;
    padding: 7%;
}
.button{
    padding: 10px;
    width: 120px;

}
#submit{
    width: 90px;
    padding : 5px;
    background-color: black;
    color: white;
}
